<?xml version='1.0' encoding='utf-8'?>
<widget id="com.teazin.app" 
        version="0.0.1" 
        xmlns="http://www.w3.org/ns/widgets" 
        xmlns:cdv="http://phonegap.com/ns/1.0" >
    <name>TEAZin</name>
    <description>
      Messaging app for intimate conversations
    </description>
    <author email="guillaume.ang@gmail.com" href="http://teaz.in">
        TEAZin dev team
    </author>
    <content src="index.html" />
    <access origin="*" />
    <preference name="fullscreen" value="true" />
    <preference name="webviewbounce" value="true" />

    <icon src="icon.png" />

    <gap:plugin name="org.apache.cordova.core.device" />
    <gap:plugin name="org.apache.cordova.core.camera" />
    <gap:plugin name="org.apache.cordova.core.dialogs" />
    <gap:plugin name="org.apache.cordova.core.console" />
</widget>