//-.app-fragment controlButton
    .button-icon.tiesto.pt-page-scaleUpage-moveFromRightFade
        i.icon-large.icon-time

//-.app-fragment controlIcon
    .icon_img.time
    //-i.icon-large.icon-time

.app-fragment itemTitle
    p Smile Capture

.app-fragment itemButton
    .storeItem
        .inticon.inticon-male

.app-fragment itemIcon
    .inticon.inticon-male

.app-fragment itemBrief
    p Capture you smile

.app-fragment itemInfo
    p Ask receiver how happy they are to receive your content

.app-fragment controlConfig
    .pt-page-scaleUp
        a.title Smile Capture
        .subtitle Ask receiver how happy they are to receive your content
        input.button.grey.right.save(type="submit", value="Activate");