//-.app-fragment controlButton
    .button-icon.tiesto.pt-page-scaleUpage-moveFromRightFade
        i.icon-large.icon-time

//-.app-fragment controlIcon
    .icon_img.time
    //-i.icon-large.icon-time

.app-fragment itemTitle
    p Location

.app-fragment itemButton
    .storeItem
        .inticon.inticon-location

.app-fragment itemIcon
    .inticon.inticon-location

.app-fragment itemBrief
    p Set up location

.app-fragment itemInfo
    p Decide at which location the reciever has to be

.app-fragment controlConfig
    .pt-page-scaleUp
        a.title Location
        .subtitle Decide at which location the reciever has to be
        input.button.grey.right.save(type="submit", value="Activate");