each contact in contacts
  .clearfix.contact-card(data-id="#{contact._id}")
    .contact-image
      .loadingFace.face60px
        .face(style='background-image:url("#{contact.profilePic.path}")', mediaId='contact.profilePic.id')
    .contact-info
      p.contact-nick #{contact.nickname}
      p.contact-email(style="font-color:red;") #{contact.email}
    .contact-actions
      .checker-container
        a.checker.contactSelectBox x
    br(style="clear:both")