.header
  .action.action-left
  .header-title
    p SEND MESSAGE
  .action.action-right
.app-body
  #creatorWrapper
    .creatorScroller
      .cardPreview
      .addLocks
        .addLocksText SET LOCKS
      .creatorTuto
        p Welcome in the creator.
        br
        p Your mission here is to set your own rules on top of the content you want to share.
        br
        p Click on "SET LOCKS"
        br 
        p To send your content, just click "TEAZ"     
.footer
    .action
    .action.actionLarge.textButton.teazButton
        p TEAZ