//--- HEADER ---//
.app-fragment contactButton
    .inticon.inticon-contact

.app-fragment addContactButton
    .inticon.inticon-add-contact

.app-fragment settingsButton
    .inticon.inticon-settings

.app-fragment navBackButton
    .inticon.inticon-left-arrow



//--- FOOTER ---//
.app-fragment emptyButton
    .action

.app-fragment composeButton
    .action
        .inticon.inticon-compose

.app-fragment captureButton
    .action
        .inticon.inticon-capture

.app-fragment continueButton
    .action
        .inticon.inticon-right-arrow

.app-fragment submitContactButton
    .action.actionLarge
        .inticon.inticon-save

.app-fragment sendButton
    .action.actionLarge
        .inticon.inticon-large.inticon-send

.app-fragment saveButton
    .action.actionLarge
        .inticon.inticon-large.inticon-save
