.header
    .action.action-left
    .header-title
        p YOUR CONVERSATIONS
    .action.action-right
#roomlistWrapper.app-body
    #roomlistScroller
        #pullDown.loading
            span.pullDownIcon
            .pullLabelContainer
                span.pullDownLabel LOADING
        #roomList
        //-#pullUp
            span.pullUpIcon
            .pullLabelContainer
                span.pullUpLabel Pull up to refresh 
.footer