.toolView.row.fixed-area
    .configWrapper(id='#{itemId}')
        .configScroller
            .itemHeader
                .itemTitle
                .itemUnset
                  .inticon.inticon-del
            .itemConfig
        