//-.header
//-.sidebar-left
      .sidebar-scroll-left
        .sidebar-header-left
          a.sidebar-header
          a.close-sidebar-left(href='#')
        a#logout.nav-item.coach-nav(href='#') Logut
//-.footer