.header
    .action.action-left
    .header-title
        p #{state.namesList}
    .action.action-right
#roomWrapper.app-body
    #roomScroller
        #pullDown
            span.pullDownIcon
            .pullLabelContainer
                span.pullDownLabel Pull down to refresh
        #cardList
        //-#pullUp
            span.pullUpIcon
            .pullLabelContainer
                span.pullUpLabel Pull up to refresh
.footer
