.header
    .action.action-left
    .header-title
        p #{state.namesList}
    .action.action-right
#roomWrapper.app-body
    #roomScroller
        #pullDown.loading
            span.pullDownIcon
            .pullLabelContainer
                span.pullDownLabel LOADING
        #cardList
        //-#pullUp
            span.pullUpIcon
            .pullLabelContainer
                span.pullUpLabel Pull up to refresh
.footer
