.header
  .action.action-left
  .header-title
    p SET LOCKS
  .action.action-right
.app-body
  .toolBar.row.fixed-area
    .tab(name="store").activeZone
      .tabInstructions
        p Choose a lock
    .tab(name="addItem").hide
      .inticon.inticon-add
  .configViews
    #storeView.toolView.row.fixed-area
      .storeList
.footer
  .action
  .action.actionLarge.textButton.lockButton
    p LOCK