//-.app-fragment controlButton
    .button-icon.tiesto.pt-page-scaleUpage-moveFromRightFade
        i.icon-large.icon-time

//-.app-fragment controlIcon
    .icon_img.time
    //-i.icon-large.icon-time

.app-fragment itemTitle
    p Face Reaction

.app-fragment itemButton
    .storeItem
        .inticon.inticon-eye

.app-fragment itemIcon
    .inticon.inticon-eye

.app-fragment itemBrief
    p Record your face reaction

.app-fragment itemInfo
    p Record the face reaction of the receiver !

.app-fragment controlConfig
    .pt-page-scaleUp
        a.title Face Reaction
        .subtitle Record the face reaction of the receiver
        input.button.grey.right.save(type="submit", value="Activate");